body {
  margin: 0;
  background-color: #1f2937;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin-bottom: 0;
}

div {
  padding: 2rem;
}

.line {
  padding: 1rem;
  margin: auto;
  width: 400px;
  border-bottom: 1px solid #2f3e53;
}

span {
  color: #4adf86;
}

button {
  width: 190px;
  height: 45px;
  border-radius: 5px;
  background-color: #4adf86;
  color: white;
  border: none;
  margin-top: 2rem;
}

.ps-div {
  display: flex;
}

.pswrd1,
.pswrd2 {
  width: 25ch;
  background-color: #273549;
  margin: 0 2rem;
  border-radius: 5px;
  color: #4adf86;
  cursor: pointer;
}
