body {
  margin: 0;
  background-color: #021300;
  color: whitesmoke;
  font-family: "Share Tech Mono", monospace;
}

.header {
  margin-bottom: 0;
  font-size: 3rem;
}

div {
  padding: 1rem;
}

.line {
  margin: 0 auto 1rem;
  padding: 0;
  width: 400px;
  border-bottom: 1px solid #2f3e53;
}

span {
  color: #4ca633;
  display: block;
  font-weight: 900;
}

button {
  width: 190px;
  height: 45px;
  border-radius: 5px;
  background-color: #4ca633;
  color: whitesmoke;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  font-size: 1rem;
}

.password-container {
  display: flex;
}

.password {
  width: 175px;
  height: 40px;
  background-color: #022601;
  margin: 0 2rem;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  text-align: center;
  align-content: center;
}

.container {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  display: block;
  margin: 2rem 0;
}

@media (width < 650px) {
  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
